<br />
<div class="container">
<h1>New Photo Comment</h1>
  <hr />
  <% if @pcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pcomment.errors.count, "error") %> prohibited this pcomment from being saved:</h2>

      <ul>
      <% @pcomment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for @pcomment, :url => user_photo_pcomments_path(@user, @photo, @pcomment), :html => { :multipart => true } do |f| %>
  <div class="field">
    <%= f.text_area :posting %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', @photo %>
</div>