<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= favicon_link_tag "icon.png" %>
  <%= stylesheet_link_tag    "base", :media => "all" %>
  <%= stylesheet_link_tag    "layout", :media => "all" %>
  <%= stylesheet_link_tag    "skeleton", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
</body>
</html>